<div data-controller="session" class="col-md-12 sign-up-container">

    <div class="col-md-6 form-login-container form-sign-up-container">

        <div class="btn-back">
        
            <a href="/"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Back</a>
            
        </div>

        <div>

            <h2>Sign Up</h2>
            
        
        </div>

        

        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {name: "register_form", class: "registration"}) do |f| %>

            <div class="data-login-container">

                <p class="help-block" id="help-block-sing-up"><strong>Complete the form below to create your account. Make sure to provide valid information and follow the instructions in the required fields.</strong></p>

                <div class="form-group">

                    <label for="firstName">First Name (*)</label>

                    <%= f.text_field :first_name, class: "form-control", id:"firstName", required: true %>
                        
                        
                </div>


                <div class="form-group">

                    <label for="lastName">Last Name</label>

                    <%= f.text_field :last_name, class: "form-control", id:"lastName", required: true %>
                        
                        
                </div>


                <div class="form-group">

                    <label for="username">Username (*)</label>

                    <%= f.text_field :username, class: "form-control", id:"username", required: true %>

                    <p class="help-block">Must be at least 3 characters long.</p>
                        
                        
                </div>


                <div class="form-group">

                    <label for="email">Email (*)</label>

                    <%= f.email_field :email, class: "form-control", id:"email", required: true %>
                        
                        
                </div>

                <div class="form-group">

                    <label for="password">Password (*)</label>

                    <%= f.password_field :password, class: "form-control", id:"password", required: true %>

                    <p class="help-block">Must be at least 6 characters long.</p>
                        
                        
                </div>

                <div class="form-group">

                    <label for="passwordConfirm">Confirm Password (*)</label>

                    <%= f.password_field :password_confirmation, class: "form-control", id:"passwordConfirm", required: true %>
                        
                        
                </div>


                <div class="form-group">

                    <label for="company">Company</label>

                    <%= f.text_field :company, class: "form-control", id:"company" %>
                        
                        
                </div>

                <div class="form-group">

                    <label for="companyUrl">Company Url</label>

                    <%= f.text_field :company_url, class: "form-control", id:"companyUrl" %>
                        
                        
                </div>

                <div class="form-group">

                    <label for="registryName">Registry Name</label>

                    <%= f.text_field :registry_name, class: "form-control", id:"registryName" %>
                        
                        
                </div>


                <div class="form-group">

                    <label for="registryId">Registry Id</label>

                    <%= f.text_field :registry_id, class: "form-control", id:"registryId" %>
                        
                        
                </div>


                <div class="form-group">

                    <label for="npi">National Provider Id</label>

                    <%= f.text_field :npi, class: "form-control", id:"npi" %>
                        
                        
                </div>


                <div class="form-group">

                    <label for="tix">Tax Id Number</label>

                    <%= f.text_field :tin, class: "form-control", id:"tin" %>
                        
                        
                </div>

                <div id="termsAndConditions">

                    <% @bundles.each do |bundle| -%>

                        <%= raw bundle.license %>

                    <% end -%>

                </div>

                <div>

                    <%= check_box_tag :agree_license %>

                    <%= label_tag :agree_license, "I agree to the above Terms and Conditions of use", class: "control-label" %>

                </div>

                <div>

                    <%= f.submit "SIGN UP", class: "btn btn-success", disabled: true %>

                    <button type="button" class="btn btn-default" href="/">CANCEL</button>

                </div>
            
            
            </div>

        <% end %>

    </div>

</div>


<script>
  document.addEventListener("DOMContentLoaded",     function(event) {
    $(function() {
      $('#agree_license').on('change', function(e) {
        var $checkbox = $(e.target),
            $form = $checkbox.closest('form'),
            $submit = $form.find(':submit');
        $submit.prop('disabled', !$checkbox.is(':checked'));
      });
    });
  });
</script>