<div data-controller="users" class="col-md-12">
	<div class="panel panel-primary">
  		<div class="panel-heading">
    		<h<h3 class="panel-title"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> User Profile: <%= @user.full_name%></h3>
  		</div>
		<div class="panel-body">
			<ul class="data-user-list">
					<% unless APP_CONFIG['use_opml_structure'] %>
						<% if @user.staff_role %>
						<li>
							<strong>Practice:</strong>
							<%= select_tag "practice", options_for_select(@practices, @user.practice_id), prompt: 'None', data: {user: @user.id.to_s, practiceId: @user.practice_id, action:"users#changePractice", url:"set_user_practice"}, class:"form-control" %>
							<% elsif @user.provider_id && Provider.valid_npi?(@user.npi)%>
								<strong>Provider:</strong>       
							<%= select_tag "practice_provider_select", options_for_select(@practice_pvs, @user.provider_id), prompt: 'None', data: {user: @user.id.to_s}, class: 'practice_provider_select'%> 
						</li>
						<% end %>
					<% end %>
				<li><strong>Username: </strong> <%= @user.username %></li>
				<li><strong>Email: </strong><%= @user.email %></li>
				<li><strong>Organization: </strong><%= @user.company %></li>
				<li><strong>Organization Url: </strong><%= @user.company_url %></li>
				<li><strong>Registry Name: </strong><%= @user.registry_name %></li>
				<li><strong>Registry Id: </strong><%= @user.registry_id %></li>
				<li><strong>National Provider Id: </strong><%= @user.npi %></li>
				<li><strong>Tax Identifier: </strong><%= @user.tin %></li>
			</ul>
  		</div>
		<div class="panel-footer panel-primary">
			<%= link_to "/admin/users", class: "btn btn-primary" do %>
				<span class="glyphicon glyphicon-chevron-left"></span> Back to Users
			<% end %>
		</div>
	</div>
</div>


