<div data-controller="users" class="col-md-12">
    <div class="form-group">
        <input type="text" class="form-control" id="inputSearchUser"  placeholder="Search user..."></input>
    </div>
    <div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Users</h3>
    </div>
    <div class="panel-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                    <% if APP_CONFIG['use_opml_structure'] %>
                        <th>Provider</th>
                    <% else %>
                        <th>Practice</th>
                        <th>Provider</th>
                    <% end %>
                    <th>Administrator</th>
                    <th>Staff Role</th>
                    <th>Approved</th>
                    <th>Status</th>
                </tr>
            </thead>
            <% @users.each do |user| -%>
            <tbody id="userTableSearch">
                <tr>
                    <td>
                        <%= link_to(
                            content_tag(:span, '', class: 'glyphicon glyphicon-eye-open'),
                            { controller: "admin", action: "user_profile", id: user._id },
                            class: "btn btn-info"
                        ) %>

                        <%= link_to(
                            content_tag(:span, '', class: 'glyphicon glyphicon-trash'),
                            { controller: "admin", action: "delete_user", id: user._id },
                            method: 'delete',
                            class: 'btn btn-danger',
                            data: { confirm: "Are you sure you want to delete this user?" }
                        ) %>
                    </td>
                    <td><%= user.first_name %></td>
                    <td><%= user.last_name %></td>
                    <td><%= user.username %></td>
                    <% if APP_CONFIG['use_opml_structure'] %>
                        <td>
                            <select data-action="users#changeNpi" data-username="<%= user.username %>" data-name="npi" data-npi-url="<%= admin_update_npi_path %>">
                                <option value="-1">&nbsp;</option>
                                <% Provider.all.alphabetical.each do |provider| %>
                                    <option  value="<%= provider.npi %>" <%= (user.npi == provider.npi) ? "selected=\"selected\"" : ""%> ><%= provider.full_name %></option>
                                <% end %>
                            </select>
                        </td>
                    <% else %>
                        <td> 
                        <% if Provider.valid_npi?(user.npi) %>
                            N/A
                        <% else %>
                            <%= select_tag "practice", options_for_select(@practices, user.practice_id), prompt: 'None', data: { user: user.id.to_s, practiceId: user.practice_id, action: "users#changePractice", url:"set_user_practice" } %> 
                        <% end %>
                        </td>

                        <td> 
                            <% if Provider.valid_npi?(user.npi) %>
                                <% @practice_pvs = Provider.by_npi(user.npi).map {|pv| if pvtry(:parent).try(:practice) then [pv.parent.practice.name + "- " + pv.full_name, pv.id] end}%>
                                <%= select_tag "practice_provider_select", options_for_selec(@practice_pvs, user.provider_id), prompt: 'None', data:{user: user.id.to_s, providerId:user.provider_id,action:"users#changePracticeProvider", url:"set_user_practice_provider" } %> 
                            <% else %>
                                N/A
                            <% end %>
                        </td>
                    <% end %>
                    <td>
                        <% if user.admin? -%>
                            Yes - <a href="#" data-action="users#demoteUser" data-username="<%= user.username %>" data-role="admin" data-demote-url="<%= admin_demote_path %>">Revoke</a>
                        <% else -%>
                            No - <a href="#" data-action="users#promoteUser" data-username="<%= user.username %>" data-role="admin" data-promote-url="<%= admin_promote_path %>">Grant</a>
                        <% end -%>
                    </td>
                    <td>
                        <% if Provider.valid_npi?(user.npi) %>
                            N/A
                        <% else %>
                            <% if user.staff_role? -%>
                                Yes - <a href="#" data-action="users#demoteUser" data-username="<%= user.username %>" data-role="staff_role" data-demote-url="<%= admin_demote_path %>">Revoke</a>
                            <% else -%>
                                No - <a href="#" data-action="users#promoteUser" data-username="<%= user.username %>" data-role="staff_role" data-promote-url="<%= admin_promote_path %>">Grant</a>
                            <% end -%>
                        <% end %>
                    </td>
                    <td>
                        <% if user.approved? -%>
                            True
                        <% else -%>
                            <a href="#" data-action="users#approveUser" data-username="<%= user.username %>" data-approve-url="<%= admin_approve_path %>">Approve</a>
                        <% end -%>
                    </td>
                    <td>
                        <% if user.disabled? %>
                            <a href="#" data-action="users#disableOrEnableUser" data-username="<%= user.username %>" data-disable-enable-url="<%= admin_disable_path %>" data-option="0" data-action-option="Enable">Disabled</a>
                        <% else %>
                            <a href="#" data-action="users#disableOrEnableUser" data-username="<%= user.username %>" data-disable-enable-url="<%= admin_disable_path %>" data-option="1" data-action-option="Disable">Enabled</a>
                        <% end %>
                    </td>
                </tr>
            </tbody>
            <% end %>
        </table>
    </div>
    <!--
    <div class="panel-footer">
        <% if !APP_CONFIG['use_opml_structure'] %>
            <%= link_to practices_path, class: "btn btn-primary" do %>
                <span class="glyphicon glyphicon-chevron-left"></span>
                Back to Practice
            <% end %>
        <% end %>
    </div>
    -->
    </div>
</div>

<script>
    $(document).ready(function(){
        $("#inputSearchUser").on("keyup", function() {
        var value = $(this).val().toLowerCase();

    $("#userTableSearch tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });

  });

});
</script>
