<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">

    <div class="collapse navbar-collapse in">
	<!--
      <ul class="nav navbar-nav pull-left">
        <li class="location"><%# if Provider.root %><%#= Provider.root.given_name %><%# else %><%#= APP_CONFIG['practice_name'] %><%# end %>
          <%=
            if APP_CONFIG['use_opml_structure']
              if Provider.root
                Provider.root.given_name
              else
                APP_CONFIG['practice_name']
              end
            else
              current_user.practice ? current_user.practice.name : ''
            end
          %>
        </li>
      </ul>
	  -->


      <div class="navbar-header">
        <a class="navbar-brand h1" style="margin: 0;" href="/">PopHealth</a>
      </div>

      <ul class="nav navbar-nav navbar-right">



    <form class="navbar-form navbar-left">
			<div class="form-group">
				<input type="text" class="form-control" id="search-nav" placeholder="Search..">
			</div>
			<button type="submit" class="btn btn-primary">Search</button>
		</form>


        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" href="#" aria-haspopup="true" aria-expanded="false">
              <i class="glyphicon glyphicon-user"></i>
              <%= current_user.first_name.to_s %> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="User">
              <% if APP_CONFIG['edit_account_enabled']%>
                <li><%=link_to raw('<i class="glyphicon glyphicon-edit"></i> Edit Account'), edit_user_registration_path(current_user) %></li>
              <% end %>
              <% if APP_CONFIG['logout_enabled']%>
                <li><%= link_to raw('<i class="glyphicon glyphicon-log-out"></i> Logout'), destroy_user_session_path, :method => :delete, onclick: "localStorage.clear();"%></li>
              <% end %>
              <% if current_user.staff_role? || current_user.admin? %>
                <li role="separator" class="divider"></li>
                <li role="presentation" class="dropdown-header">Admin</li>
                <% if current_user.admin? && !APP_CONFIG['use_opml_structure']%> 
                  <li><%= link_to raw('<i class="glyphicon glyphicon-th-large"></i> Practices'), practices_path %></li> 
                <% end %>
                <!--
                <li><%= link_to raw('<i class="glyphicon glyphicon-plus"></i> Providers'), '/#providers'%></li>
                -->
                <li><%= link_to raw('<i class="glyphicon glyphicon-plus"></i> Providers'), '/providers'%></li>
                <li><%= link_to raw('<i class="glyphicon glyphicon-list"></i> Manage Teams'), '/teams'%></li>
                <% if current_user.admin? %>
                  <% if (APP_CONFIG['patient_management_enabled']) %>
                    <li><%= link_to raw('<i class="glyphicon glyphicon-eye-open"></i> Patients'), admin_patients_path%></li>
                  <% end %>
                  <% if (APP_CONFIG['job_management_enabled']) %>
                    <li><%= link_to raw('<i class="fa fa-tasks"></i> Jobs'), admin_jobs_path%></li>
                  <% end %>
                  <li><%= link_to raw('<i class="glyphicon glyphicon-user"></i> Users'), admin_users_path%></li>
                  <li><%= link_to raw('<i class="glyphicon glyphicon-list-alt"></i> Logs'), logs_index_path%></li>
                  <li><%= link_to raw('<i class="glyphicon glyphicon-plus"></i> Measures'), measures_path%></li>
                  <!--
                  <li><%= link_to raw('<i class="glyphicon glyphicon-plus"></i> Measures'), '/#admin/measures'%></li>
                  -->
                <% end %>
              <% end %>
            </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

