<div data-controller="practices" class="col-md-12">
    <div class="form-group">
        <input type="text" class="form-control" id="inputSearchPractice"  placeholder="Search practice..."></input>
    </div>
    <div class="panel panel-primary" class="col-md-12">
        <div>
            <input type="text" class="form-control" id="inputSearchMeasure"  placeholder="Search measure..."></input>
        </div>

        <div class="panel-heading" id="headingTeams">
            <h3 class="panel-title"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span> Current Practices</h3>
        </div>

        <div class="panel-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width:5%;"></th>
                        <th>Name</th>
                        <th>Organization</th>
                        <th>Address</th>
                        <th>User(s)</th>
                        <th>Patients</th>
                        <th>Providers</th>
                        <th style="width:10%;">Actions</th>
                    </tr>
                </thead>
                <tbody id="practiceTable">
                    <% @practices.each do |practice| %>
                    <tr>
                        <td>
                            <div class="btn-teams-options">
                                <%= link_to edit_practice_path(practice.id), class: "btn btn-primary btn-sm" do %>
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                <% end %>
                                <%= link_to practice, method: :delete, data: { confirm: 'Are you sure? There may be patients tied to this practice' }, class: "btn btn-danger btn-sm" do %>
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                <% end %>
                            </div>
                        </td>
                        <td><%= practice.name %></td>
                        <td><%= practice.organization %></td>
                        <td><%= practice.address %></td>
                        <td><%= practice.users ? practice.users.map {|u| u.username}.join(", ") : 'N/A' %></td>
                        <td><%= practice.cqmPatient ? practice.cqmPatient.count : 0 %></td>
                        <!--<td><%= practice.providers ? practice.providers.descendants.count : 0 %></td>-->
                        <td><%= @practices_with_provider %></td>
                        
                        <td>
                            <div class="btn-teams-options">
                                <%= link_to practices_remove_providers_path(id: practice.id), method: :delete, data: { confirm: 'Are you sure you want to delete all providers for ' + "#{practice.name}?"}, class: "btn btn-warning" do %>
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete Providers
                                <% end %>

                                <%= link_to practices_remove_patients_path(id: practice.id), method: :delete, data: { confirm: 'Are you sure you want to delete all patients for ' + "#{practice.name}?"}, class: "btn btn-danger" do %>
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete Patients
                                <% end %>
                            </div>
                        </td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
        <div class="panel-footer panel-primary">

            <!--
            <%= link_to '/admin/users', class: 'btn btn-primary' do %>
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back to Users
            <% end %>
            -->

            <%= link_to '/admin/patients', class: 'btn btn-primary' do %>
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back to Patients
            <% end %>

            <button data-toggle="modal" data-target="#newPracticeModal" class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New</button>



        </div>
    </div>

    <!-- Create Practice Modal -->

    <div class="modal fade" id="newPracticeModal" role="dialog" aria-labelledby="newPracticeModal">
    
        <div class="modal-dialog" role="document">
        
            <div class="modal-content">
            
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    
                    <h4 class="modal-title" id="newPracticeModalLabel">Create New Practice</h4>
                
                </div>

                <%= form_for @practice do |f| %>
                    <div class="modal-body">

                    <% if @practice.errors.any? %>

                            <div id="error_explanation">
                            
                                <h2><%= pluralize(@practice.errors.count, "error") %> prohibited this practice from being saved:</h2>

                                <ul>
                                    <% @practice.errors.full_messages.each do |msg| %>

                                        <li><%= msg %></li>
                                    <% end %>
                                </ul>
                            </div>

                    <% end %>

                    <div class="form-group">
                        <label for="practiceId">Name</label>
                        <%= f.text_field :name, class:"form-control", id:"practiceId", required: true%>
                    </div>

                    <div class="form-group">
                            <label for="organizationPractice">Organization</label>
                            <%= f.text_field :organization, class:"form-control", id:"organizationPractice", required: true %>
                    </div>

                    <div class="form-group">
                        <label for="addressPractice">Address</label>
                        <%= f.text_area :address, class:"form-control",id:"addressPractice" %>
                    </div>

                    <% if @practice.new_record? %>
                        <div class="form-group">
                            <label for="userPractice">User</label>
                            <%= select_tag :user, options_for_select(@users), include_blank: true,class:"form-control", id:"userPractice" %>
                        </div>
                    <% end %>

                    </div>

                    <div class="modal-footer">

                        <%= f.submit "Save", class:"btn btn-success pull-left" %>

                    </div>
                <% end %>
            </div>
        </div>
    
    </div>

</div>

<script>

    $(document).ready(function(){
        $("#inputSearchPractice").on("keyup", function() {
        var value = $(this).val().toLowerCase();

    $("#practiceTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });

  });

});
</script>


