<div data-controller="measures">
    <% if @measure.present? %>
        <%= form_for @measure, url: measure_path(@measure), method: :patch do |f| %>
        <div class="form-group">
            <%= f.label :description, "Description" %>
            <%= f.text_field :description, class: "form-control" %>
        </div>
            <%= f.submit "Update" %>
        <% end %>

        <% if flash[:notice].present? %>
            <div class="alert alert-success">
                <%= flash[:notice] %>
            </div>
        <% end %>
    <% end %>
    <h1>Hello</h1>
</div>
